*{
    box-sizing:border-box;
}
body {
    margin:0;
}
.img {
    height:100vh;
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sam {
    background-image: url("./Images/Face\ 1.jpeg");
}
.jeremy{
    background-image: url("./Images/Face\ 2.jpeg");
}
.bingus {
    background-image: url("./Images/Face\ 3.jpeg");
    
}
.descrip {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color:white;
    font-family: monospace;
}
p{
    margin:0;
    padding:0;
    padding-top:20px;
    font-style: italic;
    font-size:30px;
    font-weight: bold;
}
h2{
    font-size:70px;
}
.button {
    border: 1px solid white;
    opacity: 1;
    text-decoration: none;
    color: white;
    padding:20px;
    font-size: 20px;
    margin-left:0;
}
.button:hover {
    background-color:white;
    color: black;
}
footer {
    background-color:black;
    color: white;
    text-align: center; 
    padding:20px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}
h1 {
    display:block;
    font-size:2rem;
    font-weight:bold;
    font-family: sans-serif;
    color:white;
    margin:0;
}
nav{
display: flex;
    gap: 3rem;
    align-items: center;
    text-transform: uppercase;
    font-family:sans-serif;
    font-weight:bold;
}
nav a{
    color:white;
    text-decoration: none;
}
header {
position: fixed;
color: #fff;
display: flex;
padding: 2.5rem 3rem;
gap: 3rem;
z-index: 1;
}